<div class="container">
  <h5 style="color: #f3f3f3;">Upload Images story</h5>
  <form method="post">
    <input type="file" name="image_story" class="image_story" id="image_input_story">
  </form>
</div>

<div class="modal fade" id="modal_story" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true" style="background-color: transparent;">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Crop image story</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="img-container">
          <div class="row">
            <div class="col-md-8">  
              <!--  default image where we will set the src via jquery-->
              <img id="image_story">
            </div>
            <div class="col-md-4">
              <div class="preview"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="crop_story">Crop</button>
      </div>
    </div>
  </div>
</div>

<a id="link" style="display: none;"></a>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js" integrity="sha512-ooSWpxJsiXe6t4+PPjCgYmVfr1NS5QXJACcR/FPpsdm6kqG1FmQ2SVyg2RXeVuCRBLr0lWHnWJP6Zs1Efvxzww==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>

    var bs_modal_story = $('#modal_story');
    var image_story = document.getElementById('image_story');
    var cropper_story,reader_story,file_story;
   

    $("body").on("change", ".image_story", function(e) {
        var files = e.target.files;
        var done = function(url) {
            image_story.src = url;
            bs_modal_story.modal('show');
        };


        if (files && files.length > 0) {
            file_story = files[0];

            if (URL) {
                done(URL.createObjectURL(file_story));
            } else if (FileReader) {
                reader_story = new FileReader();
                reader_story.onload = function(e) {
                    done(reader_story.result);
                };
                reader_story.readAsDataURL(file_story);
            }
        }
    });

    bs_modal_story.on('shown.bs.modal', function() {
        cropper_story = new Cropper(image_story, {
            aspectRatio: 9/16,
            viewMode: 3,
            preview: '.preview'
        });
    }).on('hidden.bs.modal', function() {
        document.getElementById("image_input_story").value = "";
        cropper_story.destroy();
        cropper_story = null;
    });

    $("#crop_story").click(function() {
        canvas = cropper_story.getCroppedCanvas({
            width: 1800,
            height: 3200,
        });

        var link = document.getElementById('link');
        link.setAttribute('download', `${document.getElementById("image_input_story").files[0].name}-crop9x16.jpeg`);
        link.setAttribute('href', canvas.toDataURL("image/jpeg").replace("image/jpeg", "image/octet-stream"));
        link.click();

        bs_modal_story.modal('hide');
    });

</script>